/*...............
   common style
................*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,::after,::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f9fbfc;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
.container{
   
    max-width:1170px;
    width:100%;
    margin:0 auto;
    padding:0 15px;

}

/*-----------
 header style
---------------*/
header{
   
    margin-top:15px;
}
.inner_header{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width:140px;
}
div img{
    width:100%;
}
nav ul{
    display:flex;
   
}
nav ul li{
    padding:18px;
}
.header_btn{
 width: 170px;
height: 57px;
border-radius: 29px;
background-color: #2500f9;
font-size: 16px;
line-height: 44px;
border:none;
color: #ffffff;
font-weight: 700;
transition: 0.3s;
}
.header_btn:hover{
    color:orange
}
nav ul li a{
font-size: 20px;
color: #242f51;
font-weight: 400;
transition: 0.3s;

}
nav ul li a:hover{
    color:orange;
}

/* 
 first section style
*/
.first_section{
    display: flex;
    justify-content: space-between;
    height:820px;
    padding:0 70px 0 70px;
    background-image:url("./../image/first_section.png");
    background-size: cover;
}
.text_div{
    
    
}
.icon_div{
   height:816px;
}
.plogo{
    width:100%;
}
.text_wraper{
    padding:200px 0 0 0;
}
.hed{
    padding:18px 0;
}
.p{
    background-color:#e2eaed;
    width:280px;
    border-radius:20px;

}
.pp{
    padding:0 0 18px 0;
    font-size: 18px;
}
.div_btn{
    margin-left:50px;
}